body {
  background-image: url(./src/photos/italian-restaurant.jpg);
  background-size: cover;
}

h2 {
  display: inline;
}

#head-container {
  display: flex;
  flex-direction: column;
  height: 16vh;
  color: white;
  background-color: rgb(0, 0, 0);
  align-items: center;
  border-bottom: 3px solid white;
  font-family: 'Dancing Script', cursive;
}

.main-header {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.links {
  margin: 1rem;
}

.home,
.menu,
.about,
.contact {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  padding: 1.5rem;
  text-decoration: underline;
}
